ul {
	list-style: none;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 10px;
	width: fit-content;
}

.cards-container {
	margin: 10px 0;
}

.card-container {
	position: relative;
	display: inline-block;
}

.card {
	border: 1px solid black;
	width: fit-content;
	max-width: 220px;
	margin: 5px 0;
	padding-right: 10px;
	border-radius: 5px;
	padding-top: 24px;
}

.card:hover {
	cursor: pointer;
	background-color: aliceblue;
	border-color: dimgray;
}

.card-img {
	max-height: 100px;
	width: auto;
	min-height: 100px;
	min-width: 60%;
	border: 1px solid brown;
	border-radius: 5px;
}

.cart-icon {
	position: absolute;
	right: 0;
	padding: 10px;
}

.cart-icon:hover {
	cursor: pointer;
}

.cart-icon:active {
	top: 1px;
	right: -1px;
}

.cart-products {
	border-radius: 5px;
	top: 5px;
}

.cart-products:active {
	top: 6px;
	right: -1px;
}

.cart-products:hover {
	background-color: whitesmoke;	
}

.card-detail {
	position: relative;
	border: 1px solid black;
	min-width: fit-content;
	/* width: 50%; */
	/* max-width: 220px; */
	display: inline-block;
	margin: 5px 0;
	padding-right: 10px;
	border-radius: 5px;
}

.card-detail-img {
	max-height: 300px;
	width: auto;
	min-height: 300px;
	min-width: 60%;
	border: 1px solid brown;
	border-radius: 5px;
}

.real-time-products {
	margin: 5px;
}

.card-description {
	width: 200px;
}

.delete-card {
	border: solid 1px black;
	border-radius: 3px;
	padding: 3px;
	margin: 3px auto;
	text-align: center;
	width: 50%;
	font-weight: 700;
	background-color: rgb(187, 102, 102);
	position: relative;
	user-select: none;
}

.delete-card:hover {
	cursor: pointer;
}

.delete-card:active {
	top: 1px;
	left: 1px;
}
