<div class="cart-total" info="{{isInCart}}" onclick="handleTotalCart(this)">
	<span id="cart-length"></span>
	<i class="fa fa-shopping-cart" style="font-size:36px"></i>
	<span id="total"></span>
</div>