{{#unless profile}}
	<h2 id="greeting"></h2>
	<div><a href="/profile">Ir a perfil</a></div>
{{/unless}}
{{#unless products}}
	<div><a id="a-products" href="/products">Ir a productos</a></div>
{{/unless}}
<div><a href="/static">Subir archivos</a></div>
<div><a href="/chat">Chat</a></div>
<div><a id="logout" href="/">Cerrar sesión</a></div>
<script src="/static/js/nav.js"></script>
